@charset "utf-8";


.contentDiv{
    width: 99%;
    margin: 0 auto;
    overflow:auto;
    height: 500px;
    /*background-color: #009999;*/
}

/*学籍样式*/
.grid{
    width: 95%;
    margin: 20px auto;
    background-color: #f9f2f4;
}
.grid1{
    width: 100%;
    margin: 0px auto;
}
.grid2{
    width: 100%;
    margin: 0px auto;
}
.grid3{

    margin: 0px auto;
    
}


